@import "tailwindcss";

@theme {
  --font-sans: "Nunito", sans-serif;
  --color-background: #09090b; /* Bardzo ciemny szary / czarny */
  --color-foreground: #fafafa;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}
